<header>
    <div class="topnav" id="myTopnav">
        <a href="/">LibraryManagementApp</a>
        <div class="dropdown">
          <button class="dropbtn">Management 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/bookCategories">Book Category</a>
            <a href="#">Book Lending Policy</a>
            <a href="#">Books</a>
            <a href="#">Book Lend</a>
          </div>
        </div> 
        <a href="#about">About</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
</header>