<div class="form">
    <h2>Create Category</h2>
    <form action="/bookCategories" method="POST">
        <div><label for="book-category">Book Category:</label></div>
        <div><input type="text" id="book-category" name="book-category"></div>
    </form>
</div>
<button class="btnCreate" type="submit">Create</button>
  