  <h2>Book Category</h2>
  <form action="/bookCategories" method="GET">
    <table>
      <thead>
        <tr>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
        </tr>
      </tbody>
    </table>  
  </form>
  