<div class="form">
  <h2>Book Category</h2>
  <form action="/bookCategories" method="GET">
    <table>
      <thead>
        <tr>
          <th><h3>Categories</h3></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
        </tr>
      </tbody>
    </table> 
  </form>
</div>
<button class="btnCreate"><a href="/bookCategories/create" style="text-decoration: none; color: black;">Create New</a></button>
  